.copyright {
    min-height: 90px;
    background-color: $bureaucratic-color;

    h3 {
        text-align: center;
        padding-top: 35px;
        font-size: 15px;
        font-weight: normal;
    }
}